<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User</title>
</head>
<body>
	<h1>Edit password</h1>

	<form th:action="@{/user/edit/password}" method="post">
		<div>
			<label>Id</label> 
			<input readonly name="id" th:value="${user.id}">
		</div>
		
		<div>
			<label>username</label> 
			<input  readonly name="username" th:value="${user.username}">
		</div>
		
		<div>
			<label>Password</label> 
			<input type="password" name="password" th:value="${user.password}">
		</div>
		<div>
			<button type="submit">Save</button>
		</div>
	</form>
</body>
</html>